/* ===========================GLOBAL======================================*/
body {
    font-family: "Poiret One";
  }
  
  /*.hero{
      background: url("https://images.unsplash.com/photo-1570884692649-8ec2639b4fb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80") center center/cover no-repeat fixed;
      height:62em;
  }*/
  
  /* ===========================NAVBAR======================================*/
  nav {
    background-color: transparent;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  nav img {
    width: 9em;
  }
  
  nav li a {
    text-decoration: none;
    text-decoration-color: #f7cc43;
    text-decoration-style: solid;
    letter-spacing: 0.15em;
  }
  
  nav li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
  
    background: #f7cc43;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  nav a:hover:after {
    width: 100%;
    left: 0;
  }
  
  .hero {
    background: url("https://images.unsplash.com/photo-1570820695856-b9d24f4730fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80")
      center center/cover no-repeat fixed;
    height: 62em;
  }
  
  hr {
    color: #4b4e4e;
  }
  .text-hero {
    display: flex;
    justify-content: start;
    font-weight: 800;
    align-items: center;
    height: inherit;
  }
  .text-hero h2 {
    font-size: 3em;
    font-weight: 800;
  }
  
  .text-hero a {
    font-size: 0.5em;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    width: 8em;
  
  }
  .text-hero a:hover {
      font-size: 0.5em;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      width: 8em;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
      color: #f7cc43;
      transform: translateY(-7px);
      
    }
  
  /* ===========================Media queries Navbar======================================*/
  
  @media screen and (max-width: 1325px) {
    .hero {
      height: 42em;
    }
  }
  